name: validate-deploy-docs

on:
  workflow_call:

jobs:
  validate-docs-change:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.validate.outputs.status }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install mkdocs and plugins
        run: pip install mkdocs==1.6.0 mkdocs-material==9.5.32 mkdocs-print-site-plugin==2.6.0
      - name: Validate docs change
        id: validate
        shell: bash
        run: |
          RED='\033[0;31m'
          GREEN='\033[0;32m'
          NC='\033[0m'
          if mkdocs build --strict; then
            echo "status=success" >> "$GITHUB_OUTPUT"
            echo -e "${GREEN}Docs validation success${NC}"
          else
            echo "status=failure" >> "$GITHUB_OUTPUT"
            echo -e "${RED}Docs validation failure${NC}"
            exit 1
          fi

  deploy-docs:
    needs:
      - validate-docs-change
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install mkdocs and plugins
        run: pip install mkdocs==1.6.0 mkdocs-material==9.5.32 mkdocs-print-site-plugin==2.6.0
      - name: Build and Deploy docs
        id: deploy
        shell: bash
        run: |
          RED='\033[0;31m'
          GREEN='\033[0;32m'
          NC='\033[0m'
          if [ "${{ needs.validate-docs-change.outputs.status }}" == "failure" ]; then
            echo -e "${RED}Docs validation failed, abort docs deployment... (for more details look at Validate docs change job)${NC}"
            exit 1
          fi
          mkdocs gh-deploy --force
          echo -e "${GREEN}Deployed docs on github!${NC}"
